:root {
  --outfit-font: 'Outfit', sans-serif;

  --white: hsl(0, 0%, 100%);
  --slate-300: hsl(212, 45%, 89%);
  --slate-500: hsl(216, 15%, 48%);
  --slate-900: hsl(218, 44%, 22%);
}

html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 62.5%;
  font-family: var(--outfit-font);
  background-color: var(--slate-300);
  overflow: hidden;
}

.container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: var(--white);
  border-radius: 1.5rem;
  width: 315px;
  height: 484px;
  gap:1.5rem;
  padding: 10px 18px 45px 18px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.attribution {
  position: absolute;
  top: 83%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.qr-image {
  width: 280px;
  height: 280px;
  border-radius: 15px;
}

.qr-title {
  font-weight: 700;
  font-size: 2rem;
  color: var(--slate-900);
  margin: 0;
  width: 254px;
}

.qr-text {
  font-weight: 400;
  font-size: 1.4rem;
  color: var(--slate-500);
  margin: 0;
  width: 254px;
  width: 243px;
}

